.page{
	width: 1100px;
	padding-left: 10%;
}

.grid-container{
	display: grid;
	grid-template-columns: 50px 350px 350px 200px 150px 50px;
	grid-template-rows: 120px 100px 100px 100px 100px;
	column-gap: 15px;
}
.topnav{
 	background-image: url(../images/header_bg.png);
 	grid-column-start: 1;
 	grid-column-end: 7;
 	grid-row-start: 1;
 	grid-row-end: 2;
}

.header{
	grid-column-start: 3;
	grid-column-end: 7;
	grid-row-start: 1;
	padding-top: 50px;
}

.header a{
	color: darkgrey;
	padding: 20px 20px;
	text-decoration: none;
	font-size: 15px;
}

a:hover {
	color: lightsteelblue;
}

.banner{
	background-image: url(../images/banner_bg.png);
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 2;
	grid-row-end: 6;
}

.banner{
	padding: 20px 20px 10px 20px;
	float: left;
}

.bannerPic{
	padding: 5px 20px;
	float: left;
}

.banner p{
	color: white;
	font-size: 14px;
	line-height: 20px;
	margin-left: 400px;
}

.banner h1{
	color: white;
	font-size: 26px;
	'line-height: 30px;
}

.slider1{
	grid-column-start: 2;
	grid-column-end: 3;
	padding-top: 20px;
}

.slider1 h1{
	width: 250px;
	font-size: 20px;
	line-height: 22px;
	color: grey;
}

.slider1 p{
	font-size: 14px;
	line-height: 20px;
	color: grey;
}

.slider2{
	grid-column-start: 3;
	grid-column-end: 4;
	padding-top: 20px;
	padding-left: 20px;
}

.slider2 h1{
	width: 250px;
	font-size: 20px;
	line-height: 22px;
	color: grey;
}

.slider2 p{
	width: 250px;
	font-size: 14px;
	line-height: 20px;
	color: grey;
}

.slider3{
	grid-column-start: 4;
	grid-column-end: 5;
	padding-top: 20px;
	padding-left: 20px;
}

.slider3 h1{
	width: 250px;
	font-size: 20px;
	line-height: 22px;
	color: grey;
}

.slider3 p{
	width: 250px;
	font-size: 14px;
	line-height: 20px;
	color: grey;

}

.footer{
	background-image: url(../images/footer_bg.png);
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 7;
}

.footer p{
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: white;
}