.page{
	margin: auto;
	width: 1100px;
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 100px 100px 100px 100px;
	grid-gap: 10px;

}
.topnav{
	margin: auto;
	width: 1100px;
	height: 150px;
 	overflow: hidden;
}

.topnav a{
	float: right;
	color: darkgrey;
	padding: 30px 30px;
	text-decoration: none;
	font-size: 15px;
}

a:hover {
	color: lightsteelblue;
}

.banner{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 5;
	background-image: url(../images/banner_bg.png);
}

.bannerText{
	grid-column-start: 7;
	grid-column-end: 10;
	grid-row-start: 1;
	grid-row-end: 5;
	color: white;
}

.header{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 8;
	background-image: url(../images/header_bg.png);
}

.bannerBg{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 5;
}

.image{
	margin-top: 20px;
	margin-left: 30px;
}